<h2>シフト作成アプリ TOPページ</h2>

<p>自動でシフトを作ってくれるアプリです。</p>
<p>シフト制の職場で重要かつ時間のかかる業務の一つ、シフト作り。</p>
<p>ただでさえ作るのが大変なのに、希望休・夜勤の回数・前後月からの勤務数の兼ね合い等が絡んでくると、多くの時間と体力を奪われます。</p>
<p>私の前職場でも、毎月15日に希望休を締め切り実際にシフトが配られるのが25日以降、翌月2日前にもらったこともありました。</p>
<p>従業員としてもシフトが完成しない為、休みの予定が立てれず困るという経験が多々あると思います。</p>
<p>そんな経験や業務を少しでも減らす手助けになればと、このアプリを作りました。</p>
<% unless user_signed_in? %>
  <br>
  <%= link_to "まずは無料登録から", new_user_registration_path %>
  <br>
  <%= link_to "アカウントをお持ちの方はコチラ！", new_user_session_path %>
  <br>
  <%= link_to "ゲストログイン(一般)", users_guest_sign_in_path, method: :post %>
  <br>
  <%= link_to "ゲストログイン(管理者)", users_admin_guest_sign_in_path, method: :post %>
<% else %>
  <div>
    <%= link_to "自分のページへ", user_path(current_user), class: "info-button" %>
  </div>
  <br>
  <% if @group.present? %>
    <% @group.each do |group| %>
      <%= link_to "#{group.group.name}に行く", group_path(group) %>
      <br>
    <% end %>
  <% else %>
    <p>どのグループにも所属していません</p>
  <% end %>
  <%= link_to "グループを作る", new_group_path %>
<% end %>
<br>
